{% extends 'layout.html' %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center ml-5 mr-5"><canvas id="users-chart"></canvas></div>
    <div class="container mb-5">
        <div class="list-group ml-5 mr-5">
            {% for user in users %}
                <a href="/{{ user.user_name }}" class="list-group-item list-group-item-action flex-column align-items-start" title="Click to show user info">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <h5 title="Username">{{ user.user_name }}</h5>
                        <span class="badge badge-primary" title="Rating">{{ user.rating }}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <small title="Rang">{{ user.rang }}</small>
                        {% if user.messages[0] != '' %}
                            <span class="badge badge-warning" title="Messages count">{{ user.messages|length }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        function getUsersMessagesFromData (users) {
            var messages = [];
            users.forEach(user => messages.push(user.messages));
            return messages;
        }
        function getUsersRatingFromData (users) {
            var rating = [];
            users.forEach(user => rating.push(user.rating));
            return rating;
        }
        window.onload = () => {
            var ctx = document.getElementById('users-chart');
            var usersData = [];
            var messageCounters = document.getElementsByClassName('badge badge-warning');
            var ratingCounters = document.getElementsByClassName('badge badge-primary');
            for (var i = messageCounters.length - 1; i >= 0; i--) usersData.push({ rating: parseInt(ratingCounters[i].innerText), messages: parseInt(messageCounters[i].innerText) })
            var config = {
                type: 'line',
                data: { labels: getUsersRatingFromData(usersData), datasets: [{ label: 'Messages', data: getUsersMessagesFromData(usersData) }] },
                options: {
                    responsive: true,
                    title: { display: true, text: 'Users rating and messages count' },
                    tooltips: { mode: 'index', intersect: false },
                    hover: { mode: 'nearest', intersect: true },
                    scales: { xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Rating' } }],  yAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Messages' } }] }
                }
            };
            var usersChart = new Chart(ctx, config);
        }
    </script>
{% endblock %}